{% load static %}
<link rel="stylesheet" href="{% static 'css/sections/categories.css' %}">
<div class="range-section home-section">
    <div class="container">
        <div class="section-title">
            <h2>Categories</h2>
        </div>
        <div class="range-tiles">
            <div class="range-item">
                <a href="/campaign/home_skin">
                    <video src="{% static "videos/quranbg.mp4" %}" autoplay loop muted></video>
                    <div class="item-title-overlay">
                        <div class="item-text">Quran</div>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="arrow-icon">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M15.7071 11.2929C16.0976 11.6834 16.0976 12.3166 15.7071 12.7071L9.70711 18.7071C9.31658 19.0976 8.68342 19.0976 8.29289 18.7071C7.90237 18.3166 7.90237 17.6834 8.29289 17.2929L13.5858 12L8.29289 6.70711C7.90237 6.31658 7.90237 5.68342 8.29289 5.29289C8.68342 4.90237 9.31658 4.90237 9.70711 5.29289L15.7071 11.2929Z"
                                fill="#192839"></path>
                        </svg>
                    </div>
                </a>
            </div>

            <div class="range-item">
                <a href="/campaign/home_hair">
                    <img class="item-image" src="{% static 'images/prayer_essentials.webp' %}" alt="Prayer essentials">
                    <div class="item-title-overlay">
                        <div class="item-text">Prayer essentials</div>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="arrow-icon">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M15.7071 11.2929C16.0976 11.6834 16.0976 12.3166 15.7071 12.7071L9.70711 18.7071C9.31658 19.0976 8.68342 19.0976 8.29289 18.7071C7.90237 18.3166 7.90237 17.6834 8.29289 17.2929L13.5858 12L8.29289 6.70711C7.90237 6.31658 7.90237 5.68342 8.29289 5.29289C8.68342 4.90237 9.31658 4.90237 9.70711 5.29289L15.7071 11.2929Z"
                                fill="#192839"></path>
                        </svg>
                    </div>
                </a>
            </div>

            <div class="range-item">
                <a href="/campaign/home_wellness">
                    <img class="item-image" src="{% static 'images/gifts.webp' %}" alt="Gifts and Decor">
                    <div class="item-title-overlay">
                        <div class="item-text">Gifts and Decor</div>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="arrow-icon">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M15.7071 11.2929C16.0976 11.6834 16.0976 12.3166 15.7071 12.7071L9.70711 18.7071C9.31658 19.0976 8.68342 19.0976 8.29289 18.7071C7.90237 18.3166 7.90237 17.6834 8.29289 17.2929L13.5858 12L8.29289 6.70711C7.90237 6.31658 7.90237 5.68342 8.29289 5.29289C8.68342 4.90237 9.31658 4.90237 9.70711 5.29289L15.7071 11.2929Z"
                                fill="#192839"></path>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- categories styles moved to static/css/sections/categories.css -->
</div>
