# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/
*.env
.env
logs/
staticfiles/
media/

# Django
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test/coverage
htmlcov/
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Other
*.swp

# Local environment files
.env.local
